a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    color: #1e1e1e;
    border: 1px solid #4f4f4f2a;
    position: fixed;
    width: 92%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 8px 8px 10px rgba(105, 103, 103, 0.244);
    z-index: 1000;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.header.scrolled {
    background-color: #1f4d3ad4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    top: 0%;
    margin-top: 0px;
    width: 100%;
    border-radius: 0%;
}

.header.scrolled .login-btn{
    display: inline-block;
    color: #1f4d3a;
    background-color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 4px 4px 10px rgba(105, 103, 103, 0.244);
    transition: 0.3s;
    cursor: pointer;
    margin-right: 5px;
}

.header.scrolled .login-btn:hover{
    background-color: whitesmoke;
}
.header.scrolled .links-list li a {
    color: white;
}

.header.scrolled .logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
}

.links .links-list {
    display: flex;
    gap: 20px;
}


.logo {
    width: 70px;
    height: auto;
    margin-right: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 6px 10px 6px 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.search-box input:focus {
    border: 2px solid #1f4d3a;
    box-shadow: 0 0 6px rgba(31, 77, 58, 0.4);
    outline: none;
}

.search-box .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-box .icon img {
    width: 16px;
    opacity: 0.6;
}

.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn {
    display: inline-block;
    color: white;
    background-color: #1f4d3a;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 4px 4px 10px rgba(105, 103, 103, 0.244);
    transition: 0.3s;
    cursor: pointer;
}

.actions .login-btn:hover{
    background-color: #163a2b;
    transform: translateY(-2px);
}

.links .links-list li a {
    color: #4f4f4f;
    transition: 0.3s;
}

.links .links-list li a:hover {
    color: #1f4d3a;
}

.container {
    max-width: 1200px;
    margin: 150px auto 40px;
    padding: 0 20px;
    border: none;
    
}

.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #1a1a1a;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    border: 1px solid #eee;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 8px 8px 10px  rgba(105, 103, 103, 0.244);
}

.image-box {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #ddd;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    font-family: Arial, sans-serif;
}

.info span {
    color: #777;
    font-size: 14px;
}

.info .price {
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.buy-now {
    background-color: #1b4332;
    color: white;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 10px;
}